   #padanchor
   {
    margin-left: 82%;
    color: #fffff1;
    text-decoration: initial;
    font-size: 50%;
    font-family: sans-serif;
    display: block;
    padding-top: 2%;
   }

h1{
    background-color: #252525;
    height: 62px;
    margin: -8px;
    background-image: url("../innotraining/images/logo.png");
    background-position: 131px;
    background-repeat: no-repeat;
  }
h2
{
    color: #ffffff;
    font-size: 2em;
    font-family: sans-serif;
}

h2 span 
{
	    background: linear-gradient(to top,rgba(255, 165, 0, 0.96),rgba(255, 224, 0, 0.9));
        color: black;
}

h2 div
{
	color: #fff;
    font-size: -webkit-xxx-large;
}

.fetch
{   
    color: #fff;
    font-size: 20px;
}

#loggedinbox
{
    background-color: hsla(263, 49%, 46%, 0.59);
    width: 111px;
    height: 147px;
    padding: 2% 22% 1% 5%;
    box-shadow: inset 0 0 15px #8174C6;

}
/*center center, circle cover, #9887d1, #786bb3
circle at 470px 100px ,#7c6fb8,#9081ca*/
body
		{
		    background: radial-gradient(ellipse,#9D8Ed6,#7467af);
        }

input
		{
    width: 69%;
    height: 31px;
    border-color: #7c70b8;
    border-width: 0.3em;
    border-radius: 0.4em;
    padding-left: 3%;
		}

/*rgba(81, 203, 238, 1)*/
		/*input:hover
		{
         box-shadow: 0 0 0px rgba(81, 203, 238, 1);
         border: 1px solid rgba(81, 203, 238, 1);
		}*/
		

.padding
        {
           padding-bottom: 15px;
        }  

.gender-text
		{
		color: #fff;
		margin-left: -133px;
		}
.none
		{
		width: 5%;
		height: 14px;
		}
.gender
		{
			color: #FFF;
		}

#registration,#login
		{
        margin-right: 371px;
	    margin-left: 374px;
		}

#name,#username
{
    background-image: url("../innotraining/images/name.png");
    background-position: 98%;
    background-size: 5%;
    background-repeat: no-repeat;
}
#email
{
    background-image: url("../innotraining/images/mail.png");
    background-position: 99%;
    background-size: 8%;
    background-repeat: no-repeat;
}
#mobnum
{
    background-image: url("../innotraining/images/con.png");
    background-position: 98%;
    background-size: 5%;
    background-repeat: no-repeat;

}
#password,#confirmpass
{
    background-image: url("../innotraining/images/pass.png");
    background-position: 98%;
    background-size: 6%;
    background-repeat: no-repeat;
}


#search
{
	width: 21%;
    margin-top: 11%;
    margin-left: 6%;
    padding-left: 2%;
    font-size: 102%;
    border-width: 4px;
}

#button
		{
		
    width: 73%;
    height: 2em;
    background: linear-gradient(to top,#ffa700,#ffcf00);
    font-size: 120%;
    padding-right: 6%;
    border-width: 0px;
    border-radius: 0.2em;

		}
/*#button:hover
{
transform: scale(1.03);
}*/		

#button1
{
	width: 8%;
    height: 37px;
    background: linear-gradient(to top,rgba(255, 197, 0, 0.96),rgba(255, 224, 0, 0.88));
    border-width: 0px;
    font-size: 89%;
    padding-left: 0%;

  }

   
/*#button1:hover
{
   transform: scale(1.03);
   height: 39px;
}*/

#button2
{
	border-width: 0em;
    margin-left: 74%;
    width: 11%;
    padding-left: 1%;
    background-color: #fbbc05;
    margin-top: 1%;
}
/*#button2:hover
{
   transform: scale(1.03);
   
}
*/

table
{   
	color: white;
    background: #6d61a9;
    margin-left: 6%;
    box-shadow: inset 0 0 15px #8174C3;
}

#checkbox
{
	height: 81%;
    width: 8%;
}

#shiftemail
{
	padding-left: 21%;
}

#shiftblank
{
	padding-left: 21%;
}


.shiftbox
{

  text-decoration: initial;
}

#viewdesign
{
	color: white;
    background: #8174bc;
    width: 64%;
    text-decoration: none;
    padding-left: 10%;
    padding-right: 10%;
    box-shadow: inset 0 0 10px #8174EE;
}

    .bottom
    {
       padding-bottom: 6%;

    }


    #adminuser
    {

        margin-top: 4%;
    }